@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: "Norse-Bold";
    src: url("fonts/norse-bold/norse-bold-webfont.woff")format("woff"),
        url("fonts/norse-bold/norse-bold-webfont.woff2")format("woff2")
}

/* @font-face {
    font-family: "Roboto";
    src: url("fonts/roboto-regular/roboto-regular-webfont.woff")format("woff"),
        url("fonts/roboto-regular/roboto-regular-webfont.woff2")format("woff2")
} */

:root {
    --input-border-color: #E5E7EB;
    --secondary-color: hsl(30, 70%, 45%);
    --secondary-color-hover: hsl(30, 70%, 50%);
    --secondary-color-active: hsl(30, 70%, 40%);
    --error-color: #d12f2f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', monospace;
    height: 100vh;
    display: flex;
}

.img-container {
    background-image: url("img/anton-poznyak-in3-CLQb48A-unsplash.jpg");
    background-size: cover;
    background-position-x: center;
    /* bg-color defined as fallback to the background image. */
    background-color: black;
    flex: 2;
    min-width: 450px;
    max-width: 700px;
    position: relative;
    height: inherit;
    display: flex;
    justify-content: center;
}

.content-container {
    flex: 3;
}

img#img-bg {
    height: 100%;
    overflow: hidden;
    object-fit: fill;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 25%;
    width: 100%;
    height: max(15%, 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

img#img-logo {
    height: 90%
}

.odin-text {
    font-family: "Norse-Bold";
    color: white;
    font-size: max(13vh, 90px);
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.photo-credit {
    font-family: monospace;
    font-size: 0.8rem;
    position: absolute;
    bottom: 5px;
    color: white;
}

.photo-credit>a {
    color: inherit;
}

.photo-credit>a:visited {
    color: inherit;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fafb;
}

.content-container>* {
    padding-left: 50px;
}

.description-container,
.form-container>p {
    font-size: 1.5rem;
    font-weight: 600;
}

.description-container {
    width: min(90%, 750px);
}

.description-container>p:first-child {
    margin-bottom: 1.5rem;
}

.description-container>p:last-child {
    margin-bottom: 3rem;
}

.form-container {
    background-color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

form>div {
    margin-top: 1rem;
    display: flex;
}

form>div:last-child {
    margin-top: 0;
}

label {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #353535;
    display: block;
    text-transform: uppercase;
}

input {
    font-family: inherit;
    font-size: 100%;
    width: min(20vw, 250px);
    height: 2em;
    padding: 0 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
}

input:invalid {
    border-color: var(--error-color);
    border-width: 1px;
}

input:placeholder-shown {
    /* do not show the required inputs as invalid when empty */
    border-color: var(--input-border-color);
    border-width: 1px;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

form>div>div:last-child {
    margin-left: min(5vw, 70px);
}

.password-validation {
    height: 1rem;
    color: var(--error-color);
    font-size: 0.8rem;
}

button {
    margin: 2.5rem 0;
    border: none;
    color: white;
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 5px;
}

button:hover {
    background-color: var(--secondary-color-hover);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

button:active {
    background-color: var(--secondary-color-active);
}

.content-container>p {
    font-size: 1.2rem;
}

.content-container>p>a {
    color: var(--secondary-color);
}

.content-container>p>a:hover {
    color: var(--secondary-color-hover);
}

.content-container>p>a:visited {
    color: var(--secondary-color);
}